[submodule "plugin.program.j5kwizard"]
	path = plugin.program.j5kwizard
	url = https://github.com/tjamieg/plugin.program.j5kwizard.git
[submodule "context.themoviedb.helper"]
	path = context.themoviedb.helper
	url = https://github.com/jurialmunkey/context.themoviedb.helper.git
[submodule "plugin.video.themoviedb.helper"]
	path = plugin.video.themoviedb.helper
	url = https://github.com/jurialmunkey/plugin.video.themoviedb.helper.git
[submodule "resource.images.arctic.waves"]
	path = resource.images.arctic.waves
	url = https://github.com/drinfernoo/resource.images.arctic.waves.git
[submodule "resource.images.moviegenreicons.horizon"]
	path = resource.images.moviegenreicons.horizon
	url = https://github.com/Swageroni/resource.images.moviegenreicons.horizon.git
[submodule "screensaver.arctic.mirage"]
	path = screensaver.arctic.mirage
	url = https://github.com/drinfernoo/screensaver.arctic.mirage.git
[submodule "script.skinvariables"]
	path = script.skinvariables
	url = https://github.com/jurialmunkey/script.skinvariables.git
[submodule "skin.arctic.horizon"]
	path = skin.arctic.horizon
	url = https://github.com/jurialmunkey/skin.arctic.horizon.git
